# rust
/target
**/*.rs.bk

# node
node_modules
dist
.turbo
*.d.ck.ts

# napi build artifacts
*.node
crates/cooked_napi/index.js
crates/cooked_napi/index.d.ts

# misc
.DS_Store
*.log
editors/zed/target
